/* style.css */

@tailwind base;
@tailwind utilities;
@tailwind components;

.init {
    margin:0;
    padding:0;
    min-width: 1140px; 
    overflow-x: hidden;
}

.settingcus h2 {
    padding-top: 1em;
    font-size: 1.875rem;
}

.settingcus h1 {
    font-size: 1.875rem;
}

.settingcus ul {
    list-style-type: disc;
    padding-left: 2em;
}